<nav>
  <p [ngClass]="{'active': selected === 'app-day1'}" (click)="selected = 'app-day1'">app-day1</p>
  <p [ngClass]="{'active': selected === 'app-day1-stage2'}" (click)="selected = 'app-day1-stage2'">app-day1-stage2</p>
  <p [ngClass]="{'active': selected === 'app-day2-stage1'}" (click)="selected = 'app-day2-stage1'">app-day2-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day2-stage2'}" (click)="selected = 'app-day2-stage2'">app-day2-stage2</p>
  <p [ngClass]="{'active': selected === 'app-day3-stage1'}" (click)="selected = 'app-day3-stage1'">app-day3-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day3-stage2'}" (click)="selected = 'app-day3-stage2'">app-day3-stage2</p>
  <p [ngClass]="{'active': selected === 'app-day4-stage1'}" (click)="selected = 'app-day4-stage1'">app-day4-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day4-stage2'}" (click)="selected = 'app-day4-stage2'">app-day4-stage2</p>
  <p [ngClass]="{'active': selected === 'app-day5-stage1'}" (click)="selected = 'app-day5-stage1'">app-day5-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day6-stage1'}" (click)="selected = 'app-day6-stage1'">app-day6-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day6-stage2'}" (click)="selected = 'app-day6-stage2'">app-day6-stage2</p>
  <p [ngClass]="{'active': selected === 'app-day7-stage1'}" (click)="selected = 'app-day7-stage1'">app-day7-stage1</p>
  <p [ngClass]="{'active': selected === 'app-day7-stage2'}" (click)="selected = 'app-day7-stage2'">app-day7-stage2</p>
</nav>

<div id='components'>
  <app-day1 *ngIf="selected === 'app-day1'"></app-day1>
  <app-day1-stage2 *ngIf="selected === 'app-day1-stage2'"></app-day1-stage2>

  <app-day2-stage1 *ngIf="selected === 'app-day2-stage1'"></app-day2-stage1>
  <app-day2-stage2 *ngIf="selected === 'app-day2-stage2'"></app-day2-stage2>

  <app-day3-stage1 *ngIf="selected === 'app-day3-stage1'"></app-day3-stage1>
  <app-day3-stage2 *ngIf="selected === 'app-day3-stage2'"></app-day3-stage2>

  <app-day4-stage1 *ngIf="selected === 'app-day4-stage1'"></app-day4-stage1>
  <app-day4-stage2 *ngIf="selected === 'app-day4-stage2'"></app-day4-stage2>

  <app-day5-stage1 *ngIf="selected === 'app-day5-stage1'"></app-day5-stage1>

  <app-day6-stage1 *ngIf="selected === 'app-day6-stage1'"></app-day6-stage1>
  <app-day6-stage2 *ngIf="selected === 'app-day6-stage2'"></app-day6-stage2>

  <app-day7-stage1 *ngIf="selected === 'app-day7-stage1'"></app-day7-stage1>
  <app-day7-stage2 *ngIf="selected === 'app-day7-stage2'"></app-day7-stage2>

</div>


